[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jina = "==3.6.3"
docarray = {extras = ["annlite"], version = "==0.13.22"}
opencv-contrib-python = "*"
mediapipe = "*"
vika = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
boto3 = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"
ipython = "*"

[requires]
python_version = "3.9"
